name: Build and test

on:
  push:
  pull_request:
  workflow_dispatch: # Allow running manually from web UI

jobs:
  package:
    name: Maven Build and Test
    runs-on: ubuntu-latest
    permissions:
      checks: write # to publish unit test results

    steps:
      - name: Check out
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Set up JDK 17
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Build with Maven
        run: mvn --batch-mode -show-version --update-snapshots --errors package
      - name: Publish Unit Test Results
        uses: dorny/test-reporter@eaa763f6ffc21c7a37837f56cd5f9737f27fc6c8 # v1.8.0
        if: always() # also run if build step failed
        with:
          name: JUnit Report
          path: target/surefire-reports/*.xml
          reporter: java-junit
